#update-section {
    padding: 1% 1%;
}

#section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 7%;
}

#section-header h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

#section-header h3:hover {
    text-decoration: underline;
    color: #32C8ff;
}

#section-header h1 {
    font-size: 4rem;
    font-style: italic;
}

#updates {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#update-card {
    width: 30%;
}

#image-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5%;
}

#image-container img {
    width: 100%;
    scale: 1;
    border-radius: 5px;
}

#image-container:hover {
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

#updates img:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

#update-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1%;
}

#update-card small {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1%;
}

#update-card p {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    padding-inline: 5px;
    text-wrap: nowrap;
    overflow: hidden;
    margin-bottom: 1%;
    line-height: 1.5;
}

#update-card p strong {
    color: #32C8ff;
}